In [1]:
import pandas as pd
import numpy as np

In [2]:
sellerMappingTable=pd.read_excel(r"C:\Users\vinot\OneDrive\Desktop\project\Seller Mapping Table.xlsx.xlsx")
sellerMappingTable

                  Ssellers_name           homologated_sellers
0                Cocoblu Retail           BJ's Wholesale Club
1      RK World Infocom Pvt Ltd                American Eagle
2    Appario Retail Private Ltd                      Tapestry
3              RetailEZ Pvt Ltd           Wakefern / ShopRite
4                 ETrade Online          Harbor Freight Tools
..                          ...                           ...
898            Hydroshell India  Barnes and Noble Booksellers
899                 KT FASHIONS           J.C. Penney Company
900               Shoplite 0000                      Tapestry
901                 Bestbuybook        Sprouts Farmers Market
902                  Seetabooks                  Advance Auto

[903 rows x 2 columns]

In [3]:
dup=sellerMappingTable[sellerMappingTable['Ssellers_name'].duplicated(keep=False)]
dup

    Ssellers_name     homologated_sellers
100        Seller  Sprouts Farmers Market
301        Seller                7-Eleven
602        Seller      Tractor Supply Co.

In [4]:
sellerMappingTable = sellerMappingTable.drop_duplicates(subset=['Ssellers_name'],keep='first')

In [5]:
sellerMappingTable['Ssellers_name'].isna().sum()

np.int64(0)

In [6]:
sellerMappingTable.shape

(901, 2)

In [7]:
CategoryMappingtable=pd.read_json(r"C:\Users\vinot\OneDrive\Desktop\project\Category Mapping Table.json.json",lines=True)
CategoryMappingtable

                     PL      sku
0      DELL0X_PC_Laptop  0X749QB
1     DELL75_PC_Monitor  75X62BB
2        DELLDF_SUP_TON   DF627B
3            HP4Z_PH_LJ   4ZB96A
4      DELL0R_PC_Laptop  0R0N0QB
...                 ...      ...
1593     DELL4K_SUP_INK  4KB93BB
1594     DELLX2_SUP_TON   X2231B
1595       HPB3_SUP_INK   B3P21A
1596  DELL78_PC_Desktop  78X20QB
1597       HPCF_SUP_TON   CF364A

[1598 rows x 2 columns]

In [8]:
PLtable=pd.read_json(r"C:\Users\vinot\OneDrive\Desktop\project\PL Table.json.json",lines=True)
PLtable

          sku                 PL
0     0X749QB   DELL0X_PC_Laptop
1     75X62BB  DELL75_PC_Monitor
2      DF627B     DELLDF_SUP_TON
3      4ZB96A         HP4Z_PH_LJ
4     0R0N0QB   DELL0R_PC_Laptop
...       ...                ...
1593  4KB93BB     DELL4K_SUP_INK
1594   X2231B     DELLX2_SUP_TON
1595   B3P21A       HPB3_SUP_INK
1596  78X20QB  DELL78_PC_Desktop
1597   CF364A       HPCF_SUP_TON

[1598 rows x 2 columns]

In [9]:
PLtable["PL"].unique

<bound method Series.unique of 0        DELL0X_PC_Laptop
1       DELL75_PC_Monitor
2          DELLDF_SUP_TON
3              HP4Z_PH_LJ
4        DELL0R_PC_Laptop
              ...
1593       DELL4K_SUP_INK
1594       DELLX2_SUP_TON
1595         HPB3_SUP_INK
1596    DELL78_PC_Desktop
1597         HPCF_SUP_TON
Name: PL, Length: 1598, dtype: object>

In [10]:
SKUtable=pd.read_xml(r"C:\Users\vinot\OneDrive\Desktop\project\SKU Table.xml.xml")
SKUtable

              PN      Sku
0        Pib01a1  0X749QB
1        Pib01a2  75X62BB
2        Pib01a3   DF627B
3        Pib01a4   4ZB96A
4        Pib01a5  0R0N0QB
...          ...      ...
1593  Pib01a1594  4KB93BB
1594  Pib01a1595   X2231B
1595  Pib01a1596   B3P21A
1596  Pib01a1597  78X20QB
1597  Pib01a1598   CF364A

[1598 rows x 2 columns]

In [11]:
import yaml 

with open(r"C:\Users\vinot\OneDrive\Desktop\project\Price List Table.yaml.yaml") as f:
    data = yaml.safe_load(f)
    Price_list_table=pd.DataFrame(data)
Price_list_table

         MAP                 PL      sku
0     106684   DELL0X_PC_Laptop  0X749QB
1      35611  DELL75_PC_Monitor  75X62BB
2      29914     DELLDF_SUP_TON   DF627B
3      39258         HP4Z_PH_LJ   4ZB96A
4     139670   DELL0R_PC_Laptop  0R0N0QB
...      ...                ...      ...
1593    3565     DELL4K_SUP_INK  4KB93BB
1594    6716     DELLX2_SUP_TON   X2231B
1595    6868       HPB3_SUP_INK   B3P21A
1596   47937  DELL78_PC_Desktop  78X20QB
1597   28243       HPCF_SUP_TON   CF364A

[1598 rows x 3 columns]

In [12]:
PLtable.head()

       sku                 PL
0  0X749QB   DELL0X_PC_Laptop
1  75X62BB  DELL75_PC_Monitor
2   DF627B     DELLDF_SUP_TON
3   4ZB96A         HP4Z_PH_LJ
4  0R0N0QB   DELL0R_PC_Laptop

In [13]:
#category
def get_category(pl):
    if '_PC_' in pl:
        return 'PC'
    elif '_SUP_' in pl:
        return 'Supplies'
    elif '_PH_' in pl:
        return 'Print Hardware'
    else:
        return 'Others'

#sub category
def get_sub_category(pl):
    if 'Laptop' in pl:
        return 'Laptop'
    elif 'Monitor' in pl:
        return 'Monitor'
    elif 'Desktop' in pl:
        return 'Desktop'
    elif 'INK' in pl:
        return 'Ink'
    elif 'TON' in pl:
        return 'Toner'
    elif 'LJ' in pl:
        return 'Laserjet'
    elif 'IJ' in pl:
        return 'Inkjet'
    elif 'SJ' in pl:
        return 'Single function Inkjet'
    elif 'UNK' in pl:
        return 'Unknown'
    else:
        return 'Others'

PLtable['Category'] = PLtable['PL'].apply(get_category)
PLtable['SUB_CATEGORY'] = PLtable['PL'].apply(get_sub_category)

In [14]:
PLtable['Category'].unique()

array(['PC', 'Supplies', 'Print Hardware'], dtype=object)

In [15]:
PLtable['SUB_CATEGORY'].unique()

array(['Laptop', 'Monitor', 'Toner', 'Laserjet', 'Inkjet', 'Desktop',
       'Ink', 'Unknown', 'Single function Inkjet'], dtype=object)

In [16]:
PLtable.drop(PLtable[PLtable['SUB_CATEGORY'].isin(['Unknown','Single function Inkjet'])].index,inplace=True)

In [17]:
PLtable.head()

       sku                 PL        Category SUB_CATEGORY
0  0X749QB   DELL0X_PC_Laptop              PC       Laptop
1  75X62BB  DELL75_PC_Monitor              PC      Monitor
2   DF627B     DELLDF_SUP_TON        Supplies        Toner
3   4ZB96A         HP4Z_PH_LJ  Print Hardware     Laserjet
4  0R0N0QB   DELL0R_PC_Laptop              PC       Laptop

In [18]:
Price_list_table.head()

      MAP                 PL      sku
0  106684   DELL0X_PC_Laptop  0X749QB
1   35611  DELL75_PC_Monitor  75X62BB
2   29914     DELLDF_SUP_TON   DF627B
3   39258         HP4Z_PH_LJ   4ZB96A
4  139670   DELL0R_PC_Laptop  0R0N0QB

In [19]:
def get_brand(pl):
    if pl.startswith('HP'):
       return 'HP'
    elif pl.startswith('DELL'):
       return 'DELL'
    else:
        return 'Others'
Price_list_table['BRAND'] =Price_list_table['PL'].apply(get_brand)

In [20]:
Price_list_table.tail()

        MAP                 PL      sku BRAND
1593   3565     DELL4K_SUP_INK  4KB93BB  DELL
1594   6716     DELLX2_SUP_TON   X2231B  DELL
1595   6868       HPB3_SUP_INK   B3P21A    HP
1596  47937  DELL78_PC_Desktop  78X20QB  DELL
1597  28243       HPCF_SUP_TON   CF364A    HP

In [21]:
Price_list_table['sku'] = Price_list_table['sku'].astype(str).str.strip().str.upper()
PLtable['sku'] = PLtable['sku'].astype(str).str.strip().str.upper()

In [22]:
merge_table = Price_list_table.merge(PLtable[['sku','Category','SUB_CATEGORY']],
                                     on='sku',how='left')
merge_table

         MAP                 PL      sku BRAND        Category SUB_CATEGORY
0     106684   DELL0X_PC_Laptop  0X749QB  DELL              PC       Laptop
1      35611  DELL75_PC_Monitor  75X62BB  DELL              PC      Monitor
2      29914     DELLDF_SUP_TON   DF627B  DELL        Supplies        Toner
3      39258         HP4Z_PH_LJ   4ZB96A    HP  Print Hardware     Laserjet
4     139670   DELL0R_PC_Laptop  0R0N0QB  DELL              PC       Laptop
...      ...                ...      ...   ...             ...          ...
1601    3565     DELL4K_SUP_INK  4KB93BB  DELL        Supplies          Ink
1602    6716     DELLX2_SUP_TON   X2231B  DELL        Supplies        Toner
1603    6868       HPB3_SUP_INK   B3P21A    HP        Supplies          Ink
1604   47937  DELL78_PC_Desktop  78X20QB  DELL              PC      Desktop
1605   28243       HPCF_SUP_TON   CF364A    HP        Supplies        Toner

[1606 rows x 6 columns]

In [23]:
merge_table.isna().sum()

MAP              0
PL               0
sku              0
BRAND            0
Category        48
SUB_CATEGORY    48
dtype: int64

In [24]:
merge_table.dropna(inplace=True)

In [25]:

lpp_percentage ={
    'Laptop' :{'HP':0.0340,'DELL':0.0780},
    'Monitor':{'HP':0.0120,'DELL':0.0560},
    'Toner':{'HP':0.0910,'DELL':0.0230},
    'Laserjet':{'HP':0.0650,'DELL':0.0350},
    'Inkjet':{'HP':0.0120,'DELL':0.0560},
    'Desktop':{'HP':0.0910,'DELL':0.0230},
    'Ink':{'HP':0.0650,'DELL':0.0350}
}

#Lpp logic column
def calculate_lpp(row):
    sub = row['SUB_CATEGORY']
    brand = row['BRAND']
    map_price = row['MAP']

    if sub in lpp_percentage and brand in lpp_percentage[sub]:
        return map_price*(1-lpp_percentage[sub][brand])
    else:
        return map_price

merge_table['LPP'] = merge_table.apply(calculate_lpp, axis=1)

In [26]:
merge_table.isna().sum()

MAP             0
PL              0
sku             0
BRAND           0
Category        0
SUB_CATEGORY    0
LPP             0
dtype: int64

In [27]:
merge_table.head()

,MAP,PL,sku,BRAND,Category,SUB_CATEGORY,LPP
0,106684,DELL0X_PC_Laptop,0X749QB,DELL,PC,Laptop,98362.648
1,35611,DELL75_PC_Monitor,75X62BB,DELL,PC,Monitor,33616.784
2,29914,DELLDF_SUP_TON,DF627B,DELL,Supplies,Toner,29225.978
3,39258,HP4Z_PH_LJ,4ZB96A,HP,Print Hardware,Laserjet,36706.230
4,139670,DELL0R_PC_Laptop,0R0N0QB,DELL,PC,Laptop,128775.740

In [28]:
from datetime import datetime

merge_table['datetime']=datetime.now() ##this also use...

In [29]:
## merge_table['date'] = pd.Timestamp.now().date() use this also

In [30]:
##merge_table['Time'] = pd.Timestamp.now().time()  use this also

In [31]:
merge_table.tail(10)

,MAP,PL,sku,BRAND,Category,SUB_CATEGORY,LPP,datetime
1596,4836,DELLD3_SUP_INK,D3Q18BB,DELL,Supplies,Ink,4666.740,2026-02-14 12:52:00.384022
1597,50999,HP63_PC_Desktop,635X7PA,HP,PC,Desktop,46358.091,2026-02-14 12:52:00.384022
1598,1460,HPW1_SUP_TON,W1580X,HP,Supplies,Toner,1327.140,2026-02-14 12:52:00.384022
1599,77429,HP77_PC_Laptop,77S54PA,HP,PC,Laptop,74796.414,2026-02-14 12:52:00.384022
1600,42427,DELL0E_PC_Laptop,0E4N8QB,DELL,PC,Laptop,39117.694,2026-02-14 12:52:00.384022
1601,3565,DELL4K_SUP_INK,4KB93BB,DELL,Supplies,Ink,3440.225,2026-02-14 12:52:00.384022
1602,6716,DELLX2_SUP_TON,X2231B,DELL,Supplies,Toner,6561.532,2026-02-14 12:52:00.384022
1603,6868,HPB3_SUP_INK,B3P21A,HP,Supplies,Ink,6421.580,2026-02-14 12:52:00.384022
1604,47937,DELL78_PC_Desktop,78X20QB,DELL,PC,Desktop,46834.449,2026-02-14 12:52:00.384022
1605,28243,HPCF_SUP_TON,CF364A,HP,Supplies,Toner,25672.887,2026-02-14 12:52:00.384022

In [32]:
def assign_quarter(dt):
   month = dt.month

   if month in [11,12,1]:
       return 'Q1(Nov-Jan)'       ## nov-jan
   elif month in [2,3,4]:
       return 'Q2(Feb-Apr)'       ##feb-april
   elif month in [5,6,7]:
       return 'Q3(May-Jul)'       ##may-july
   elif month in [8,9,10]:
       return 'Q4(Aug-Oct)'       ##aug-oct

merge_table['Season_Name'] = merge_table['datetime'].apply(assign_quarter)

In [33]:
merge_table.tail()

,MAP,PL,sku,BRAND,Category,SUB_CATEGORY,LPP,datetime,Season_Name
1601,3565,DELL4K_SUP_INK,4KB93BB,DELL,Supplies,Ink,3440.225,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1602,6716,DELLX2_SUP_TON,X2231B,DELL,Supplies,Toner,6561.532,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1603,6868,HPB3_SUP_INK,B3P21A,HP,Supplies,Ink,6421.580,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1604,47937,DELL78_PC_Desktop,78X20QB,DELL,PC,Desktop,46834.449,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1605,28243,HPCF_SUP_TON,CF364A,HP,Supplies,Toner,25672.887,2026-02-14 12:52:00.384022,Q2(Feb-Apr)

In [34]:
merge_table.isna().sum()

MAP             0
PL              0
sku             0
BRAND           0
Category        0
SUB_CATEGORY    0
LPP             0
datetime        0
Season_Name     0
dtype: int64

In [35]:
offer_table = pd.read_excel(r"C:\Users\vinot\OneDrive\Desktop\project\offertable.xlsx")
offer_table

,Category,Q1 (Nov-Jan),Q2 (Feb-Apr),Q3 (May-Jul),Q4 (Aug-Oct)
0,Supply,10% off ink,$2 off toner,5% off toner,20% off ink
1,Print Hardware,15% off ink jet,Free setup service,2% off scanners,$10 off laser jet
2,PC,$10 off laptops,Free accessories,Free accessories,15 % off

In [36]:
## melt offer logic(reshape the table)
offer_melted = offer_table.melt(
    id_vars=['Category'],
    var_name='Season_Name',
    value_name='offers')

offer_melted['Category'] = offer_melted['Category']
offer_melted['Season_Name'] = offer_melted['Season_Name']
offer_melted

          Category   Season_Name              offers
0           Supply  Q1 (Nov-Jan)         10% off ink
1   Print Hardware  Q1 (Nov-Jan)     15% off ink jet
2               PC  Q1 (Nov-Jan)     $10 off laptops
3           Supply  Q2 (Feb-Apr)        $2 off toner
4   Print Hardware  Q2 (Feb-Apr)  Free setup service
5               PC  Q2 (Feb-Apr)    Free accessories
6           Supply  Q3 (May-Jul)        5% off toner
7   Print Hardware  Q3 (May-Jul)     2% off scanners
8               PC  Q3 (May-Jul)    Free accessories
9           Supply  Q4 (Aug-Oct)        20% off  ink
10  Print Hardware  Q4 (Aug-Oct)  $10 off laser jet
11              PC  Q4 (Aug-Oct)            15 % off

In [37]:
Promotion_sku = pd.read_excel(r"C:\Users\vinot\OneDrive\Desktop\project\Promotiontable.xlsx")
Promotion_sku

      Promotional SKUs
0    For the SKU Below
1               G0L15B
2              7Y4T6QB
3              4K0V8PA
4              385Z7PA
..                 ...
96              7KW56A
97              X2214B
98             8F8Z3PA
99             77S54PA
100             B3P21A

[101 rows x 1 columns]

In [38]:
Promotion_sku = Promotion_sku.drop(index=0)
Promotion_sku

    Promotional SKUs
1             G0L15B
2            7Y4T6QB
3            4K0V8PA
4            385Z7PA
5            T6M05AA
..               ...
96            7KW56A
97            X2214B
98           8F8Z3PA
99           77S54PA
100           B3P21A

[100 rows x 1 columns]

In [39]:
promo_merge_table = merge_table[merge_table['sku'].isin(Promotion_sku['Promotional SKUs'])]
promo_merge_table

,MAP,PL,sku,BRAND,Category,SUB_CATEGORY,LPP,datetime,Season_Name
8,9900,DELLG0_SUP_INK,G0L15B,DELL,Supplies,Ink,9553.500,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
53,67545,DELL7Y_PC_Desktop,7Y4T6QB,DELL,PC,Desktop,65991.465,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
60,1080,HP4K_SUP_INK,4K0V8PA,HP,Supplies,Ink,1009.800,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
65,50366,HP38_PC_Desktop,385Z7PA,HP,PC,Desktop,45782.694,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
75,2478,HPT6_SUP_INK,T6M05AA,HP,Supplies,Ink,2316.930,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
...,...,...,...,...,...,...,...,...,...
1558,58632,HP7K_PH_LJ,7KW56A,HP,Print Hardware,Laserjet,54820.920,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1576,1049,DELLX2_SUP_TON,X2214B,DELL,Supplies,Toner,1024.873,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1582,239399,HP8F_PC_Laptop,8F8Z3PA,HP,PC,Laptop,231259.434,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1599,77429,HP77_PC_Laptop,77S54PA,HP,PC,Laptop,74796.414,2026-02-14 12:52:00.384022,Q2(Feb-Apr)
1603,6868,HPB3_SUP_INK,B3P21A,HP,Supplies,Ink,6421.580,2026-02-14 12:52:00.384022,Q2(Feb-Apr)

In [40]:
promo_merge_table.columns

Index(['MAP', 'PL', 'sku', 'BRAND', 'Category', 'SUB_CATEGORY', 'LPP',
       'datetime', 'Season_Name'],
      dtype='object')

In [41]:
offer_melted.columns

Index(['Category', 'Season_Name', 'offers'], dtype='object')

In [42]:
for df in [promo_merge_table,offer_melted]:
    df['Category'] = df['Category'].str.strip().str.upper()
    df['Season_Name'] = df['Season_Name'].str.replace(' ', '')

C:\Users\vinot\AppData\Local\Temp\ipykernel_14304\3267790912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'] = df['Category'].str.strip().str.upper()
C:\Users\vinot\AppData\Local\Temp\ipykernel_14304\3267790912.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Season_Name'] = df['Season_Name'].str.replace(' ', '')

In [43]:
print(promo_merge_table['Category'].unique())
print(offer_melted['Category'].unique())
print(promo_merge_table['Season_Name'].unique())
print(offer_melted['Season_Name'].unique())

['SUPPLIES' 'PC' 'PRINT HARDWARE']
['SUPPLY' 'PRINT HARDWARE' 'PC']
['Q2(Feb-Apr)']
['Q1(Nov-Jan)' 'Q2(Feb-Apr)' 'Q3(May-Jul)' 'Q4(Aug-Oct)']

In [44]:
promo_merge_table['Category'] = promo_merge_table['Category'].replace({'SUPPLIES': 'SUPPLY'})

C:\Users\vinot\AppData\Local\Temp\ipykernel_14304\251335943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  promo_merge_table['Category'] = promo_merge_table['Category'].replace({'SUPPLIES': 'SUPPLY'})

In [45]:
filtered_Promotion_sku=promo_merge_table.merge(offer_melted[['Category','Season_Name','offers']],
                                     on=['Category','Season_Name'],how='left')

In [46]:

filtered_Promotion_sku

,MAP,PL,sku,BRAND,Category,SUB_CATEGORY,LPP,datetime,Season_Name,offers
0,9900,DELLG0_SUP_INK,G0L15B,DELL,SUPPLY,Ink,9553.500,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner
1,67545,DELL7Y_PC_Desktop,7Y4T6QB,DELL,PC,Desktop,65991.465,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories
2,1080,HP4K_SUP_INK,4K0V8PA,HP,SUPPLY,Ink,1009.800,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner
3,50366,HP38_PC_Desktop,385Z7PA,HP,PC,Desktop,45782.694,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories
4,2478,HPT6_SUP_INK,T6M05AA,HP,SUPPLY,Ink,2316.930,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner
...,...,...,...,...,...,...,...,...,...,...
91,58632,HP7K_PH_LJ,7KW56A,HP,PRINT HARDWARE,Laserjet,54820.920,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free setup service
92,1049,DELLX2_SUP_TON,X2214B,DELL,SUPPLY,Toner,1024.873,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner
93,239399,HP8F_PC_Laptop,8F8Z3PA,HP,PC,Laptop,231259.434,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories
94,77429,HP77_PC_Laptop,77S54PA,HP,PC,Laptop,74796.414,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories
95,6868,HPB3_SUP_INK,B3P21A,HP,SUPPLY,Ink,6421.580,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner

In [47]:
filtered_Promotion_sku.isna().sum()

MAP             0
PL              0
sku             0
BRAND           0
Category        0
SUB_CATEGORY    0
LPP             0
datetime        0
Season_Name     0
offers          0
dtype: int64

In [48]:
def calculate_promo_value(row):
    promo = str(row['offers']).lower()
    map_price = row['MAP']

    if '%' in promo:
        percent = float(promo.split('%')[0])
        return map_price*(percent/100)

    elif '$' in promo:
        value = float(promo.replace('$','').split()[0])
        return value

    elif 'free' in promo:
        return 0

    else:
        return 0


filtered_Promotion_sku['Promotion_value'] = filtered_Promotion_sku.apply(calculate_promo_value,axis=1)

filtered_Promotion_sku['Promotion_value'] = filtered_Promotion_sku['Promotion_value'].round(2)

In [49]:
filtered_Promotion_sku

,MAP,PL,sku,BRAND,Category,SUB_CATEGORY,LPP,datetime,Season_Name,offers,Promotion_value
0,9900,DELLG0_SUP_INK,G0L15B,DELL,SUPPLY,Ink,9553.500,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner,2.0
1,67545,DELL7Y_PC_Desktop,7Y4T6QB,DELL,PC,Desktop,65991.465,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories,0.0
2,1080,HP4K_SUP_INK,4K0V8PA,HP,SUPPLY,Ink,1009.800,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner,2.0
3,50366,HP38_PC_Desktop,385Z7PA,HP,PC,Desktop,45782.694,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories,0.0
4,2478,HPT6_SUP_INK,T6M05AA,HP,SUPPLY,Ink,2316.930,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner,2.0
...,...,...,...,...,...,...,...,...,...,...,...
91,58632,HP7K_PH_LJ,7KW56A,HP,PRINT HARDWARE,Laserjet,54820.920,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free setup service,0.0
92,1049,DELLX2_SUP_TON,X2214B,DELL,SUPPLY,Toner,1024.873,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner,2.0
93,239399,HP8F_PC_Laptop,8F8Z3PA,HP,PC,Laptop,231259.434,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories,0.0
94,77429,HP77_PC_Laptop,77S54PA,HP,PC,Laptop,74796.414,2026-02-14 12:52:00.384022,Q2(Feb-Apr),Free accessories,0.0
95,6868,HPB3_SUP_INK,B3P21A,HP,SUPPLY,Ink,6421.580,2026-02-14 12:52:00.384022,Q2(Feb-Apr),$2 off toner,2.0

# Finally all Tables

In [50]:
SKUtable.columns=SKUtable.columns.str.strip().str.upper()
SKUtable

              PN      SKU
0        Pib01a1  0X749QB
1        Pib01a2  75X62BB
2        Pib01a3   DF627B
3        Pib01a4   4ZB96A
4        Pib01a5  0R0N0QB
...          ...      ...
1593  Pib01a1594  4KB93BB
1594  Pib01a1595   X2231B
1595  Pib01a1596   B3P21A
1596  Pib01a1597  78X20QB
1597  Pib01a1598   CF364A

[1598 rows x 2 columns]

In [51]:
PLtable.columns=PLtable.columns.str.strip().str.upper()
PL_Table=PLtable[['PL', 'SKU', 'SUB_CATEGORY']]
PL_Table

                     PL      SKU SUB_CATEGORY
0      DELL0X_PC_Laptop  0X749QB       Laptop
1     DELL75_PC_Monitor  75X62BB      Monitor
2        DELLDF_SUP_TON   DF627B        Toner
3            HP4Z_PH_LJ   4ZB96A     Laserjet
4      DELL0R_PC_Laptop  0R0N0QB       Laptop
...                 ...      ...          ...
1593     DELL4K_SUP_INK  4KB93BB          Ink
1594     DELLX2_SUP_TON   X2231B        Toner
1595       HPB3_SUP_INK   B3P21A          Ink
1596  DELL78_PC_Desktop  78X20QB      Desktop
1597       HPCF_SUP_TON   CF364A        Toner

[1550 rows x 3 columns]

In [52]:
merge_table.columns=merge_table.columns.str.strip().str.upper()
Price_List_Table = merge_table[['PL','SKU','MAP','LPP']]
Price_List_Table

                     PL      SKU     MAP         LPP
0      DELL0X_PC_Laptop  0X749QB  106684   98362.648
1     DELL75_PC_Monitor  75X62BB   35611   33616.784
2        DELLDF_SUP_TON   DF627B   29914   29225.978
3            HP4Z_PH_LJ   4ZB96A   39258   36706.230
4      DELL0R_PC_Laptop  0R0N0QB  139670  128775.740
...                 ...      ...     ...         ...
1601     DELL4K_SUP_INK  4KB93BB    3565    3440.225
1602     DELLX2_SUP_TON   X2231B    6716    6561.532
1603       HPB3_SUP_INK   B3P21A    6868    6421.580
1604  DELL78_PC_Desktop  78X20QB   47937   46834.449
1605       HPCF_SUP_TON   CF364A   28243   25672.887

[1558 rows x 4 columns]

In [53]:
sellerMappingTable = sellerMappingTable.rename(columns={'Ssellers_name':'Seller_Name', 'homologated_sellers':'Homologated_Name'})
Seller_Mapping_Table = sellerMappingTable
Seller_Mapping_Table

                    Seller_Name              Homologated_Name
0                Cocoblu Retail           BJ's Wholesale Club
1      RK World Infocom Pvt Ltd                American Eagle
2    Appario Retail Private Ltd                      Tapestry
3              RetailEZ Pvt Ltd           Wakefern / ShopRite
4                 ETrade Online          Harbor Freight Tools
..                          ...                           ...
898            Hydroshell India  Barnes and Noble Booksellers
899                 KT FASHIONS           J.C. Penney Company
900               Shoplite 0000                      Tapestry
901                 Bestbuybook        Sprouts Farmers Market
902                  Seetabooks                  Advance Auto

[901 rows x 2 columns]

In [54]:
Category_Mapping_Table = PLtable
Category_Mapping_Table

          SKU                 PL        CATEGORY SUB_CATEGORY
0     0X749QB   DELL0X_PC_Laptop              PC       Laptop
1     75X62BB  DELL75_PC_Monitor              PC      Monitor
2      DF627B     DELLDF_SUP_TON        Supplies        Toner
3      4ZB96A         HP4Z_PH_LJ  Print Hardware     Laserjet
4     0R0N0QB   DELL0R_PC_Laptop              PC       Laptop
...       ...                ...             ...          ...
1593  4KB93BB     DELL4K_SUP_INK        Supplies          Ink
1594   X2231B     DELLX2_SUP_TON        Supplies        Toner
1595   B3P21A       HPB3_SUP_INK        Supplies          Ink
1596  78X20QB  DELL78_PC_Desktop              PC      Desktop
1597   CF364A       HPCF_SUP_TON        Supplies        Toner

[1550 rows x 4 columns]

In [56]:
Promotion_Table = filtered_Promotion_sku[[ 'PL', 'sku', 'Season_Name','Promotion_value']]
Promotion_Table

                   PL      sku  Season_Name  Promotion_value
0      DELLG0_SUP_INK   G0L15B  Q2(Feb-Apr)              2.0
1   DELL7Y_PC_Desktop  7Y4T6QB  Q2(Feb-Apr)              0.0
2        HP4K_SUP_INK  4K0V8PA  Q2(Feb-Apr)              2.0
3     HP38_PC_Desktop  385Z7PA  Q2(Feb-Apr)              0.0
4        HPT6_SUP_INK  T6M05AA  Q2(Feb-Apr)              2.0
..                ...      ...          ...              ...
91         HP7K_PH_LJ   7KW56A  Q2(Feb-Apr)              0.0
92     DELLX2_SUP_TON   X2214B  Q2(Feb-Apr)              2.0
93     HP8F_PC_Laptop  8F8Z3PA  Q2(Feb-Apr)              0.0
94     HP77_PC_Laptop  77S54PA  Q2(Feb-Apr)              0.0
95       HPB3_SUP_INK   B3P21A  Q2(Feb-Apr)              2.0

[96 rows x 4 columns]

In [57]:
from sqlalchemy import create_engine
import pandas as pd

In [58]:
engine = create_engine("mysql+pymysql://root:Root%40123@127.0.0.1:3306/violationdb")
conn=engine.connect()
print("Connected successfully")

Connected successfully

In [59]:
tables = {
    "sku_table": SKUtable,
    "category_mapping": Category_Mapping_Table,
    "price_list": Price_List_Table,
    "seller_mapping": Seller_Mapping_Table,
    "promotion_table":Promotion_Table
}

for name, df in tables.items():
    df.columns = df.columns.str.strip().str.upper()
    df.to_sql(name=name, con=engine,
if_exists='replace', index=False)
    print(name, "uploaded")

sku_table uploaded
category_mapping uploaded
price_list uploaded
seller_mapping uploaded
promotion_table uploaded