In [96]:
import pandas as pd
import numpy as np

In [97]:
sellerMappingTable=pd.read_excel(r"C:\Users\vinot\OneDrive\Desktop\project\Seller Mapping Table.xlsx.xlsx")
sellerMappingTable

                  Ssellers_name           homologated_sellers
0                Cocoblu Retail           BJ's Wholesale Club
1      RK World Infocom Pvt Ltd                American Eagle
2    Appario Retail Private Ltd                      Tapestry
3              RetailEZ Pvt Ltd           Wakefern / ShopRite
4                 ETrade Online          Harbor Freight Tools
..                          ...                           ...
898            Hydroshell India  Barnes and Noble Booksellers
899                 KT FASHIONS           J.C. Penney Company
900               Shoplite 0000                      Tapestry
901                 Bestbuybook        Sprouts Farmers Market
902                  Seetabooks                  Advance Auto

[903 rows x 2 columns]

In [98]:
CategoryMappingtable=pd.read_json(r"C:\Users\vinot\OneDrive\Desktop\project\Category Mapping Table.json.json",lines=True)
CategoryMappingtable

                     PL      sku
0      DELL0X_PC_Laptop  0X749QB
1     DELL75_PC_Monitor  75X62BB
2        DELLDF_SUP_TON   DF627B
3            HP4Z_PH_LJ   4ZB96A
4      DELL0R_PC_Laptop  0R0N0QB
...                 ...      ...
1593     DELL4K_SUP_INK  4KB93BB
1594     DELLX2_SUP_TON   X2231B
1595       HPB3_SUP_INK   B3P21A
1596  DELL78_PC_Desktop  78X20QB
1597       HPCF_SUP_TON   CF364A

[1598 rows x 2 columns]

In [99]:
PLtable=pd.read_json(r"C:\Users\vinot\OneDrive\Desktop\project\PL Table.json.json",lines=True)
PLtable

          sku                 PL
0     0X749QB   DELL0X_PC_Laptop
1     75X62BB  DELL75_PC_Monitor
2      DF627B     DELLDF_SUP_TON
3      4ZB96A         HP4Z_PH_LJ
4     0R0N0QB   DELL0R_PC_Laptop
...       ...                ...
1593  4KB93BB     DELL4K_SUP_INK
1594   X2231B     DELLX2_SUP_TON
1595   B3P21A       HPB3_SUP_INK
1596  78X20QB  DELL78_PC_Desktop
1597   CF364A       HPCF_SUP_TON

[1598 rows x 2 columns]

In [100]:
PLtable["PL"].unique

<bound method Series.unique of 0        DELL0X_PC_Laptop
1       DELL75_PC_Monitor
2          DELLDF_SUP_TON
3              HP4Z_PH_LJ
4        DELL0R_PC_Laptop
              ...
1593       DELL4K_SUP_INK
1594       DELLX2_SUP_TON
1595         HPB3_SUP_INK
1596    DELL78_PC_Desktop
1597         HPCF_SUP_TON
Name: PL, Length: 1598, dtype: object>

In [101]:
SKUtable=pd.read_xml(r"C:\Users\vinot\OneDrive\Desktop\project\SKU Table.xml.xml")
SKUtable

              PN      Sku
0        Pib01a1  0X749QB
1        Pib01a2  75X62BB
2        Pib01a3   DF627B
3        Pib01a4   4ZB96A
4        Pib01a5  0R0N0QB
...          ...      ...
1593  Pib01a1594  4KB93BB
1594  Pib01a1595   X2231B
1595  Pib01a1596   B3P21A
1596  Pib01a1597  78X20QB
1597  Pib01a1598   CF364A

[1598 rows x 2 columns]

In [102]:
import yaml 

with open(r"C:\Users\vinot\OneDrive\Desktop\project\Price List Table.yaml.yaml") as f:
    data = yaml.safe_load(f)
    Price_list_table=pd.DataFrame(data)
Price_list_table

         MAP                 PL      sku
0     106684   DELL0X_PC_Laptop  0X749QB
1      35611  DELL75_PC_Monitor  75X62BB
2      29914     DELLDF_SUP_TON   DF627B
3      39258         HP4Z_PH_LJ   4ZB96A
4     139670   DELL0R_PC_Laptop  0R0N0QB
...      ...                ...      ...
1593    3565     DELL4K_SUP_INK  4KB93BB
1594    6716     DELLX2_SUP_TON   X2231B
1595    6868       HPB3_SUP_INK   B3P21A
1596   47937  DELL78_PC_Desktop  78X20QB
1597   28243       HPCF_SUP_TON   CF364A

[1598 rows x 3 columns]

In [103]:
PLtable.head()

       sku                 PL
0  0X749QB   DELL0X_PC_Laptop
1  75X62BB  DELL75_PC_Monitor
2   DF627B     DELLDF_SUP_TON
3   4ZB96A         HP4Z_PH_LJ
4  0R0N0QB   DELL0R_PC_Laptop

In [104]:
#category
def get_category(pl):
    if '_PC_' in pl:
        return 'PC'
    elif '_SUP_' in pl:
        return 'Supplies'
    elif '_PH_' in pl:
        return 'Print Hardware'
    else:
        return 'Others'

#sub category
def get_sub_category(pl):
    if 'Laptop' in pl:
        return 'Laptop'
    elif 'Monitor' in pl:
        return 'Monitor'
    elif 'Desktop' in pl:
        return 'Desktop'
    elif 'INK' in pl:
        return 'Ink'
    elif 'TON' in pl:
        return 'Toner'
    elif 'LJ' in pl:
        return 'Laserjet'
    elif 'IJ' in pl:
        return 'Inkjet'
    elif 'SJ' in pl:
        return 'Single function Inkjet'
    elif 'UNK' in pl:
        return 'Unknown'
    else:
        return 'Others'

PLtable['CATEGORY'] = PLtable['PL'].apply(get_category)
PLtable['SUB_CATEGORY'] = PLtable['PL'].apply(get_sub_category)

In [105]:
PLtable['SUB_CATEGORY'].unique()

array(['Laptop', 'Monitor', 'Toner', 'Laserjet', 'Inkjet', 'Desktop',
       'Ink', 'Unknown', 'Single function Inkjet'], dtype=object)

In [106]:
PLtable = PLtable[-PLtable['SUB_CATEGORY'].isin(['Single function Inkjet','Unknown'])]
PLtable = PLtable.reset_index(drop=True)

In [108]:
PLtable['SUB_CATEGORY'].unique()

array(['Laptop', 'Monitor', 'Toner', 'Laserjet', 'Inkjet', 'Desktop',
       'Ink'], dtype=object)

In [109]:
PLtable.head()

       sku                 PL        CATEGORY SUB_CATEGORY
0  0X749QB   DELL0X_PC_Laptop              PC       Laptop
1  75X62BB  DELL75_PC_Monitor              PC      Monitor
2   DF627B     DELLDF_SUP_TON        Supplies        Toner
3   4ZB96A         HP4Z_PH_LJ  Print Hardware     Laserjet
4  0R0N0QB   DELL0R_PC_Laptop              PC       Laptop

In [110]:
Price_list_table.head()

      MAP                 PL      sku
0  106684   DELL0X_PC_Laptop  0X749QB
1   35611  DELL75_PC_Monitor  75X62BB
2   29914     DELLDF_SUP_TON   DF627B
3   39258         HP4Z_PH_LJ   4ZB96A
4  139670   DELL0R_PC_Laptop  0R0N0QB

In [111]:
def get_brand(pl):
    if pl.startswith('HP'):
       return 'HP'
    elif pl.startswith('DELL'):
       return 'DELL'
    else:
        return 'Others'
Price_list_table['BRAND'] =Price_list_table['PL'].apply(get_brand)

In [112]:
Price_list_table.tail()

        MAP                 PL      sku BRAND
1593   3565     DELL4K_SUP_INK  4KB93BB  DELL
1594   6716     DELLX2_SUP_TON   X2231B  DELL
1595   6868       HPB3_SUP_INK   B3P21A    HP
1596  47937  DELL78_PC_Desktop  78X20QB  DELL
1597  28243       HPCF_SUP_TON   CF364A    HP

In [113]:
merge_table = Price_list_table.merge(PLtable[['sku','CATEGORY','SUB_CATEGORY']],
                                     on='sku',how='left')
merge_table

         MAP                 PL      sku BRAND        CATEGORY SUB_CATEGORY
0     106684   DELL0X_PC_Laptop  0X749QB  DELL              PC       Laptop
1      35611  DELL75_PC_Monitor  75X62BB  DELL              PC      Monitor
2      29914     DELLDF_SUP_TON   DF627B  DELL        Supplies        Toner
3      39258         HP4Z_PH_LJ   4ZB96A    HP  Print Hardware     Laserjet
4     139670   DELL0R_PC_Laptop  0R0N0QB  DELL              PC       Laptop
...      ...                ...      ...   ...             ...          ...
1601    3565     DELL4K_SUP_INK  4KB93BB  DELL        Supplies          Ink
1602    6716     DELLX2_SUP_TON   X2231B  DELL        Supplies        Toner
1603    6868       HPB3_SUP_INK   B3P21A    HP        Supplies          Ink
1604   47937  DELL78_PC_Desktop  78X20QB  DELL              PC      Desktop
1605   28243       HPCF_SUP_TON   CF364A    HP        Supplies        Toner

[1606 rows x 6 columns]

In [114]:

lpp_percentage ={
    'Laptop' :{'HP':0.0340,'DELL':0.0780},
    'Monitor':{'HP':0.0120,'DELL':0.0560},
    'Toner':{'HP':0.0910,'DELL':0.0230},
    'Laserjet':{'HP':0.0650,'DELL':0.0350},
    'Inkjet':{'HP':0.0120,'DELL':0.0560},
    'Desktop':{'HP':0.0910,'DELL':0.0230},
    'Ink':{'HP':0.0650,'DELL':0.0350}
}

#Lpp logic column
def calculate_lpp(row):
    sub = row['SUB_CATEGORY']
    brand = row['BRAND']
    map_price = row['MAP']

    if sub in lpp_percentage and brand in lpp_percentage[sub]:
        return map_price*(1-lpp_percentage[sub][brand])
    else:
        return map_price

merge_table['LPP'] = merge_table.apply(calculate_lpp, axis=1)

In [115]:
merge_table.head()

,MAP,PL,sku,BRAND,CATEGORY,SUB_CATEGORY,LPP
0,106684,DELL0X_PC_Laptop,0X749QB,DELL,PC,Laptop,98362.648
1,35611,DELL75_PC_Monitor,75X62BB,DELL,PC,Monitor,33616.784
2,29914,DELLDF_SUP_TON,DF627B,DELL,Supplies,Toner,29225.978
3,39258,HP4Z_PH_LJ,4ZB96A,HP,Print Hardware,Laserjet,36706.230
4,139670,DELL0R_PC_Laptop,0R0N0QB,DELL,PC,Laptop,128775.740

In [116]:
from datetime import datetime

merge_table['datetime']=datetime.now() ##this also use...

In [117]:
## merge_table['date'] = pd.Timestamp.now().date() use this also

In [118]:
##merge_table['Time'] = pd.Timestamp.now().time()  use this also

In [119]:
merge_table.tail(10)

,MAP,PL,sku,BRAND,CATEGORY,SUB_CATEGORY,LPP,datetime
1596,4836,DELLD3_SUP_INK,D3Q18BB,DELL,Supplies,Ink,4666.740,2026-02-12 21:26:23.788771
1597,50999,HP63_PC_Desktop,635X7PA,HP,PC,Desktop,46358.091,2026-02-12 21:26:23.788771
1598,1460,HPW1_SUP_TON,W1580X,HP,Supplies,Toner,1327.140,2026-02-12 21:26:23.788771
1599,77429,HP77_PC_Laptop,77S54PA,HP,PC,Laptop,74796.414,2026-02-12 21:26:23.788771
1600,42427,DELL0E_PC_Laptop,0E4N8QB,DELL,PC,Laptop,39117.694,2026-02-12 21:26:23.788771
1601,3565,DELL4K_SUP_INK,4KB93BB,DELL,Supplies,Ink,3440.225,2026-02-12 21:26:23.788771
1602,6716,DELLX2_SUP_TON,X2231B,DELL,Supplies,Toner,6561.532,2026-02-12 21:26:23.788771
1603,6868,HPB3_SUP_INK,B3P21A,HP,Supplies,Ink,6421.580,2026-02-12 21:26:23.788771
1604,47937,DELL78_PC_Desktop,78X20QB,DELL,PC,Desktop,46834.449,2026-02-12 21:26:23.788771
1605,28243,HPCF_SUP_TON,CF364A,HP,Supplies,Toner,25672.887,2026-02-12 21:26:23.788771

In [120]:
def assign_quarter(dt):
   month = dt.month

   if month in [11,12,1]:
       return 'Q1'       ## nov-jan
   elif month in [2,3,4]:
       return 'Q2'       ##feb-april
   elif month in [5,6,7]:
       return 'Q3'       ##may-july
   elif month in [8,9,10]:
       return 'Q4'       ##aug-oct

merge_table['Quarter'] = merge_table['datetime'].apply(assign_quarter)

In [124]:
merge_table.tail()

,MAP,PL,sku,BRAND,CATEGORY,SUB_CATEGORY,LPP,datetime,Quarter
1601,3565,DELL4K_SUP_INK,4KB93BB,DELL,Supplies,Ink,3440.225,2026-02-12 21:26:23.788771,Q2
1602,6716,DELLX2_SUP_TON,X2231B,DELL,Supplies,Toner,6561.532,2026-02-12 21:26:23.788771,Q2
1603,6868,HPB3_SUP_INK,B3P21A,HP,Supplies,Ink,6421.580,2026-02-12 21:26:23.788771,Q2
1604,47937,DELL78_PC_Desktop,78X20QB,DELL,PC,Desktop,46834.449,2026-02-12 21:26:23.788771,Q2
1605,28243,HPCF_SUP_TON,CF364A,HP,Supplies,Toner,25672.887,2026-02-12 21:26:23.788771,Q2

In [126]:
merge_table['Quarter'].unique()

array(['Q2'], dtype=object)

In [129]:
merge_table['datetime'].unique()

<DatetimeArray>
['2026-02-12 21:26:23.788771']
Length: 1, dtype: datetime64[us]

In [ ]:
pd.dat